* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.st0 {
  fill: none;
  stroke: #ff0000;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
.st1 {
  fill: none;
  stroke: #0000ff;
  stroke-width: 1;
  stroke-miterlimit: 10;
}

.country1 {
  transform: translate(2%, 2%);
}

.country2 {
  transform: translate(35%, 2%);
}

.country3 {
  transform: translate(66%, 2%);
}

.country4 {
  transform: translate(2%, 35%);
}

.country5 {
  transform: translate(35%, 35%);
}

.country6 {
  transform: translate(66%, 35%);
}

.country7 {
  transform: translate(2%, 68%);
}

.country8 {
  transform: translate(35%, 68%);
}

.country9 {
  transform: translate(66%, 68%);
}

.form {
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  text-align: center;
}

.select {
  font-size: 1.6rem;
}
