* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Raleway, sans-serif;
}

.st0 {
  fill: none;
  stroke: black;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
.st1 {
  fill: none;
  stroke: transparent;
  stroke-width: 1;
  stroke-miterlimit: 10;
}

.form {
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  text-align: center;
}

.select {
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
}

.select:hover {
  background-color: #f4b800;
}

.button--select {
  font-weight: 600;
  font-size: 3rem;
  padding: 1rem 2rem;
  display: flex;
  margin: 3rem auto;
  color: white;
  background-color: #ef5552;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button--select:hover {
  opacity: 0.8;
}

.option {
  padding: 5rem;
}
